/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #383838;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(65, 62, 62, 0.678);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.navbar navbar-expand-lg navbar-dark fixed-top mask-custom shadow-0{
    background-color: black;
}